{% extends "base.html" %}
{% load static %}
{% block title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave system</title>
    <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.css' %}" />
    <link href="http://code.jquery.com/ui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock title %}

{% block style %}
<style type="text/css">
  /* .container{
      border-radius: 5px;
      padding:50px 20px;
      margin:30px auto;
      width:40%;
      border:2px solid #bbb;
      text-align: center;
  } */
  input{
      padding:5px;
      background-color:#eeeeee;
  }
  h2{
      text-align: center;
      margin-top: 100px;
      font-weight: 600;
  }        
</style>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Inter', sans-serif;
    background-image: url('https://cdn.pixabay.com/photo/2023/05/28/09/24/south-tyrol-8023224_1280.jpg');
    background-size: cover;
    }
    
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
    }
  img{
    width: 50%;
    position: relative;
    left: 13%;
    margin-top: -8%;
    margin-left: 12%;
  }
  .formbold-mb-3 {
    margin-bottom: 15px;
  }
  .formbold-relative {
    position: relative;
  }
  .formbold-opacity-0 {
    opacity: 0;
  }
  .formbold-stroke-current {
    stroke: currentColor;
  }

  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 570px;
    width: 100%;
    background: white;
    padding: 40px;
  }

  .formbold-form-title {
    margin-bottom: 30px;
  }

  h2{
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #07074d;
    text-align: center;
    margin-top: -5px;
  }
  .formbold-input-flex {
    display: flex;
    gap: 75px;
    margin-bottom: 15px;
    color: #536387;
  }
  
  .formbold-input-flex > div {
    width: 50%;
  }

  .formbold-form-input {
    text-align: left;
    width: 100%;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: #3365b5;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }
  .formbold-form-label {
    color: #536387;
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-bottom: 10px;
  }
  select{
    appearance: none;
    text-align: left;
    color: #536387;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    padding: 13px 22px;
    border-radius: 5px;
    line-height: 24px;
    
    
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  
    background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  
    background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  
    background-repeat: no-repeat;
  }

  select:focus{
    border-color:#3365b5;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  select:hover{
    cursor: pointer; 
  }

  .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }
  
  .formbold-btn1 {
    font-size: 16px;
    border-radius: 5px;
    padding: 14px 25px;
    border: none;
    font-weight: 500;
    background-color:#3365b5;
    color: white;
    cursor: pointer;
    margin-top: 5px;
  }

  .formbold-btn2 {
    font-size: 16px;
    border-radius: 5px;
    padding: 14px 25px;
    border: none;
    font-weight: 500;
    background-color:#6bcde3;
    color: white;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .leaveDate{
    font-size: 14px;
  }

  .leaveDate:hover{
    cursor: pointer; 
  }

  input[type="date"]{
    background-color: #f6f6f6;;
    padding: 15px;
    position: relative;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-family: "Roboto Mono",monospace;
    color: #000;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 5px;
  }

  input[type="date"]:hover {
    box-shadow: 0px 3px 8px #dde3ec;
    cursor: pointer;
  }

  input::placeholder{
    font-size: 14px;
  }
  .alert{
    background: #ffdb9b ;
    padding: 20px 40px ;
    min-width: 420px ;
    position: absolute;
    z-index: 9999;
    left: 50% ;
    transform: translateX(-50%);
    top: 45px;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid #ffa502;
  }
  .alert .fa-circle-exclamation{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px;
  }
  .alert .msg{
    padding: 0px 20px ;
    font-size: 18px;
    color: #ce8500;
  }


</style>
{% endblock style %}


{% block content %}
    
    {% if messages %}
      {% for message in messages %}
        <div class="alert">
          <i class="fa-solid fa-circle-exclamation"></i>
          <span class="msg"> Warning : {{message}}</span>

            {% comment %} <div class="alert alert-danger" role="alert">
            <storng>{{message}}</storng>
            </div> {% endcomment %}
        </div> 
      {% endfor %}
    {% endif %}

    <div class="formbold-main-wrapper">
        <div class="formbold-form-wrapper">
          <img src="https://img.freepik.com/premium-vector/vector-illustration-girl-online-assistant-work-promotion-network-manager-remote-job-business-mechanism-abstract-background-with-gears-business-promotion-strategy-analysis_419010-596.jpg?w=2000">
          <form action="formleave" method="post" id="register_form">
            {% csrf_token %}
            <div class="formbold-form-title">
              <h2>Leave Form</h2>
            </div>

            <div class="formbold-mb-3">
              <select name="typeleave" class="form-control mb-3" aria-label="Default select example">
                <option selected>Open the select type</option>
                <option value="S">Sick Leave</option>
                <option value="P">Personal Leave</option>
                <option value="V">Vacation Leave</option>
              </select>
            </div>

            <div class="formbold-input-flex ">
              <div class="leaveDate">
                <label for="From_Date" >From </label>
                <input type="text" id="datepicker_1" name="From_Date" required onchange="calculateLeaveDays()" />
              </div>
              <div class="leaveDate">
                <label for="To_Date">To</label>
                <input type="text" id="datepicker_2" name="To_Date" required onchange="calculateLeaveDays()" disabled  />
              </div>
            </div>

            <div class="formbold-mb-3">
              <!-- <label for="numberLeave" class="formbold-form-label">
                Number of Leave Day
              </label> -->
              <input
                type="number"
                name="numberleave"
                id="numberLeave"
                class="formbold-form-input"
                placeholder="Number of Leave Day" disabled
              />
            </div>

            <div class="formbold-mb-3">
                <!-- <label for="reason" class="formbold-form-label">
                  Reason
                </label> -->
                <input
                  type="text"
                  name="reason"
                  id="reason"
                  class="formbold-form-input"
                  placeholder="Reason"
                />
            </div>

            <input type="submit" value="submit" class="formbold-btn1">
            <a href='status' class="formbold-btn2">status</a>

          </form>
        </div>
      </div>
      

{% endblock content %}  

{% block script %}  

<script type="text/javascript">

    var yyyy = new Date().getFullYear();
  // var tommorrow = new Date().getDate() + 1;
  var holiday = [
  new Date(yyyy, 0, 1).getTime(), //วันปีใหม่
  new Date(yyyy, 2, 6).getTime(), //วันมาฆบูชา
    new Date(yyyy, 3, 6).getTime(), //วันจักรี
    new Date(yyyy, 3, 13).getTime(), //วันสงกรานต์
    new Date(yyyy, 3, 14).getTime(), //วันสงกรานต์
    new Date(yyyy, 3, 15).getTime(), //วันสงกรานต์
    new Date(yyyy, 4, 4).getTime(), //วันฉัตรมงคล
    new Date(yyyy, 5, 3).getTime(), //วันวิสาขบูชา
    new Date(yyyy, 6, 28).getTime(), //วันเฉลิมพระชนมพรรษา ร.10
    new Date(yyyy, 7, 1).getTime(), //วันอาสาฬหบูชา
    new Date(yyyy, 7, 12).getTime(), //วันแม่
    new Date(yyyy, 9, 13).getTime(), //วันคล้ายวันสวรรคต ร.9
    new Date(yyyy, 9, 23).getTime(), //วันปิยมหาราช
    new Date(yyyy, 11, 5).getTime(), //วันพ่อ
    new Date(yyyy, 11, 10).getTime(), //วันรัฐธรรมนูญ
  ];

  $('#datepicker_1 , #datepicker_2').datepicker({
    dateFormat: "d M yy",
      minDate: 0,
      // maxDate: "+4M",
      showButtonPanel: true,
      changeMonth: true,
      changeYear: true,
    beforeShowDay: function(date) {
      var showDay = true;
      if (date.getDay() == 0 || date.getDay() == 6) {
        showDay = false; // ไม่แสดงวันเสาร์และวันอาทิตย์
      }
      if ($.inArray(date.getTime(), holiday) > -1) {
        showDay = false;  
      }
      return [showDay];
    }  
  });
  
  var formattedHoliday = holiday.map(function(timestamp) {
      var date = new Date(timestamp);
      return date.toLocaleDateString('th-TH');
      });
      console.log(formattedHoliday);




  // เพิ่ม event listener ให้กับฟิลด์ From_Date เมื่อมีการเลือกวันที่
  $('#datepicker_1').on('change', function() {
    var fromDate = new Date($('#datepicker_1').val());
    $('#datepicker_2').datepicker('setDate', fromDate);
    enableNumberLeave();
    calculateLeaveDays();
  });

  // เพิ่ม event listener ให้กับฟิลด์ To_Date เมื่อมีการเลือกวันที่
  $('#datepicker_2').on('change', function() {
    calculateLeaveDays();
  });

  function enableNumberLeave() {
    $('#numberLeave').prop('disabled', false);
    $('#datepicker_2').prop('disabled', false);

  }
  
  function calculateLeaveDays() {
    var fromDate = new Date($('#datepicker_1').val());
    var toDate = new Date($('#datepicker_2').val());

    if (fromDate && toDate) {
      var millisecondsPerDay = 24 * 60 * 60 * 1000; // จำนวนมิลลิวินาทีในหนึ่งวัน
      var diff = Math.round(((toDate - fromDate) / millisecondsPerDay)+1); // คำนวณจำนวนวันที่ผ่านไป

      var weekends = 0;
      var holidays = 0;
  
      for (var i = 0; i < diff; i++) {
        var currentDate = new Date(fromDate.getTime() + i * millisecondsPerDay);
        var dayOfWeek = currentDate.getDay();
  
        if (dayOfWeek === 0 || dayOfWeek === 6) {
          weekends++;
        }
  
        for (var j = 0; j < holiday.length; j++) {
          var holidayDate = new Date(holiday[j]);
  
          if (
            holidayDate.getDate() === currentDate.getDate() &&
            holidayDate.getMonth() === currentDate.getMonth() &&
            holidayDate.getFullYear() === currentDate.getFullYear()
          ) {
            holidays++;
            break;
          }
        }
      }
      var adjustedDiff = diff - weekends - holidays;

      $('#numberLeave').val(adjustedDiff); // แสดงผลลัพธ์ที่ปรับแล้วในฟิลด์ numberLeave
    }
  }

{% comment %} </script>

<script>

  document.getElementById("datepicker_1").addEventListener("input", movedis);


  function movedis() {
    document.getElementById("numberLeave").removeAttribute("disabled");
    document.getElementById("datepicker_2").removeAttribute("disabled");
    
    var fromDateValue = document.getElementById("datepicker_1").value;
    document.getElementById("datepicker_2").value = fromDateValue;
  }

  
  document.getElementById("datepicker_1").addEventListener("input", calculateLeaveDays);
  document.getElementById("datepicker_2").addEventListener("input", calculateLeaveDays);
  
  function calculateLeaveDays() {
    var fromDateValue = document.getElementById("datepicker_1").value;
    var toDateValue = document.getElementById("datepicker_2").value;
    
    if (fromDateValue && toDateValue) {
      var fromDate = new Date(fromDateValue);
      var toDate = new Date(toDateValue);
  
      var timeDiff = Math.abs(toDate.getTime() - fromDate.getTime());
      var leaveDays = Math.ceil(timeDiff / (1000 * 3600 * 24)) + 1;
  
      document.getElementById("numberLeave").value = leaveDays;
    } else {
      document.getElementById("numberLeave").value = "";
    }
  }  {% endcomment %}

</script>

{% endblock %}