{% extends "base.html" %}
{% load static %}

{% block title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave system</title>
    <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.css' %}" />
    {% comment %} <link href="http://code.jquery.com/ui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" /> {% endcomment %}
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="{% static 'css/formleave.css' %}">
{% endblock title %}


{% block content %}
  {% if messages %}
    {% for message in messages %}
      <script>
        swal.fire({      
          icon: 'warning',
          title: 'Something went wrong!',
          text: '{{message}}',
          showConfirmButton: false,})
        setTimeout(function(){
          Swal.close()
        }, 2500);  
      </script>
    {% endfor %}
  {% endif %} 


  <div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
      <img src="https://img.freepik.com/premium-vector/vector-illustration-girl-online-assistant-work-promotion-network-manager-remote-job-business-mechanism-abstract-background-with-gears-business-promotion-strategy-analysis_419010-596.jpg?w=2000">
      <form action="formleave" method="post" id="form_leave" onsubmit="return checkcheck();">
        {% csrf_token %}
        <div class="formbold-form-title">Leave Form</div>

        <div class="formbold-mb-3">
          <select name="typeleave" class="form-control mb-3" aria-label="Default select example" id="typeleave">
            <option value="" selected>Open the select type</option>
            <option value="S">Sick Leave</option>
            <option value="P">Personal Leave</option>
            <option value="V">Vacation Leave</option>
          </select>
        </div>

        <div class="formbold-input-flex ">
          <div class="leaveDate">
            <label for="From_Date" >From </label>
            <input type="text" id="datepicker_1" name="From_Date" required onchange="calculateLeaveDays()" />
          </div>
          <div class="leaveDate">
            <label for="To_Date">To</label>
            <input type="text" id="datepicker_2" name="To_Date" required onchange="calculateLeaveDays()" disabled  />
          </div>
        </div>

        <div class="formbold-mb-3">
          <input
            type="number"
            name="numberleave"
            id="numberLeave"
            class="formbold-form-input"
            placeholder="Number of Leave Day" disabled
          />
        </div>

        <div class="formbold-mb-3">
            <input
              type="text"
              name="reason"
              id="reason"
              class="formbold-form-input"
              placeholder="Reason"
            />
        </div>

        {% comment %} <button type="submit" class="formbold-btn1" onclick="return checkInput()">Submit</button>  {% endcomment %}
        {% comment %} <input type="submit" class="formbold-btn1" onclick="return checkInput()">  {% endcomment %}
        <input type="submit" class="formbold-btn1" id="submit-button" >
        <a href='status' class="formbold-btn2">status</a>
      </form>
    </div>
  </div>
    

{% endblock content %}  


{% block script %}  
<script src="{% static 'js/formleave.js' %}" ></script>

{% endblock %} 
