{% extends "base.html" %}

{% block title %}
    <title>status</title>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock title %}

{% block style %}
<style>
body{    
    background-image: url('https://cdn.pixabay.com/photo/2023/05/28/09/24/south-tyrol-8023224_1280.jpg');
    background-size: cover;
}
.emp-profile{
    padding: 3%;
    margin-top: 6.5%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff; 
}

.card {
    width: 240px; 
    height: 100px;
    margin: 20px;
    text-align: center; 
    padding: 1%;
    border:3px solid #4682B4;
    border-radius:20px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
.container {
    padding: 5px 36px;
    text-align: center;
  }
  
.text-center {
    padding: 30px;
}
.alert{
    background: #d0f8ce	 ;
    padding: 20px 40px ;
    min-width: 420px ;
    position: absolute;
    z-index: 9999;
    left: 50% ;
    transform: translateX(-50%);
    top: 45px;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid #2baf2b;
  }
  .alert .fa-circle-exclamation{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #2baf2b;
    font-size: 30px;
  }
  .alert .msg{
    padding: 0px 20px ;
    font-size: 18px;
    color: #056f00;
  }

</style>
{% endblock style %}


{% block content %}

{% if messages %}
{% for message in messages %}
  <div class="alert">
    <i class="fa-solid fa-circle-exclamation"></i>
    <span class="msg"> {{message}}</span>
  </div> 
{% endfor %}
{% endif %}

<div class="container emp-profile">
    {% if user.is_authenticated %}
        <h2 class="text-center">สถานะการลา : {{user.username}}</h2>
        <div class="d-flex justify-content-center" >

    {% endif %}

  
    {% for num in all_number %}
        <div class="card ">
            <div class="container">
            <h5>Sick Leave</h5>
            <p>{{num.sick}} วัน </p>
            </div>
        </div>
        <div class="card">
            <div class="container">
            <h5>Personal Leave</h5>
            <p>{{num.personal}} วัน </p>
            </div>
        </div>
        <div class="card">
            <div class="container">
            <h5>Vacation Leave</h5>
            <p>{{num.vacation}} วัน </p>
            </div>
        </div>
    {% endfor %}
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">ID</th>               
            <th scope="col">Type</th>
            <th scope="col">From Date</th>
            <th scope="col">To Date</th>
            <th scope="col">Numberleave</th>
            <th scope="col">Status</th>
            <th scope="col">Edit</th>   
            <th scope="col">Cancel</th>
            </tr>
        </thead>
        <tbody>
            {% for person in all_person %}
            <tr>
                <th scope="row" id="personIdCell">LEAVE{{person.id}}</th>
                <td>{{person.typeleave}}</td>
                <td>{{person.From_Date}}</td>
                <td>{{person.To_Date}}</td>
                <td>{{person.numberleave}}</td>
                {% if person.show == 1 %}
                    <td style="color:MediumSeaGreen;">ดำเนินการเสร็จสิ้น</td>
                    <td> - </td>
                    <td> - </td>

                {% else %}
                    <td style="color:Tomato;">รอดำเนินการ</td>
                    <td > <a href='edit/{{person.id}}' class="btn btn-warning">แก้ไข</a> </td>
                    <td > 
                      <a href='delete/{{person.id}}' 
                      class="btn btn-danger"
                      onclick="return confirm('คุณต้องการยกเลิกฟอร์มการลานี้หรือไม่?')">ยกเลิก</a> 
                    </td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
        </table>
</div>
   
{% endblock content %}  

{% block script %}  
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var alerts = document.getElementsByClassName('alert');
        Array.prototype.forEach.call(alerts, function(alert) {
        setTimeout(function() {
            alert.style.display = 'none';
        }, 5000);
        });
    });

    var cell = document.getElementById('personIdCell');
    var value = cell.textContent;
    var paddedValue = value.toString().padStart(6, '0');
    cell.textContent = paddedValue;

</script>
{% endblock script %}  
